.posts {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 15px;
}

.posts__title {
	padding: 16px;
	font-weight: 700;
	font-size: 20px;
}

.posts__title {
    
}

.posts__loadmore {
	text-align: center;
	padding: 15px;
	background-color: #f5f6fa;
	border-radius: 8px;
	cursor: pointer;
	transition: 0.3s;

}

.posts__loadmore:hover {
	background-color: #cbd0e4;
}